{{define "footer"}}  <footer class="site-footer">
    <div class="wrap">
      <div>
        {{if .Site.Logo}}<img class="brand-logo" src="{{.Site.Logo}}" alt="{{.Site.Name}}" style="margin-bottom:.4rem">{{end}}<div class="brand">{{.Site.Name}}</div>
        <p class="copy">{{.Site.FooterNote}}<br>© {{.Year}} {{.Site.Name}}. {{.Tr.T "footer.rights"}}</p>
      </div>
      <div class="f-cols">
        <div class="f-col"><h4>{{.Tr.T "footer.content"}}</h4><a href="{{.Tr.U "/category/engineering"}}">{{.Tr.T "footer.all_categories"}}</a><a href="{{.Tr.U "/"}}">{{.Tr.T "footer.featured"}}</a><a href="{{.Tr.U "/rss.xml"}}">{{.Tr.T "footer.rss"}}</a></div>
        <div class="f-col"><h4>{{.Tr.T "footer.site"}}</h4><a href="{{.Tr.U "/about"}}">{{.Tr.T "footer.about"}}</a><a href="/sitemap.xml">{{.Tr.T "footer.sitemap"}}</a><a href="/robots.txt">{{.Tr.T "footer.robots"}}</a></div>
        <div class="f-col"><h4>{{.Tr.T "footer.follow"}}</h4>{{if .Social}}{{range .Social}}<a class="soc" href="{{.URL}}"{{if .Blank}} target="_blank" rel="noopener"{{end}}>{{.Icon}}<span>{{.Name}}</span></a>{{end}}{{else}}<a href="{{.Tr.U "/rss.xml"}}">{{.Tr.T "footer.rss"}}</a>{{end}}</div>
      </div>
    </div>
  </footer>
{{end}}
